version: '3.8'
services:
  gateway:
    build: gateway
    image: shareitgateway_image
    container_name: shareit-gateway-cont
    ports:
      - "8080:8081"
    depends_on:
      - server
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      - SHAREIT_SERVER_URL=http://server:9090

  server:
    build: server
    image: shareitserver_image
    container_name: shareit-server-cont
    ports:
      - "9090:9091"
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    depends_on:
      - db
    environment:
      - SPRING_DRIVER_CLASS_NAME=org.postgresql.Driver
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/shareitdb
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=pass

  db:
    image: postgres:15.3
    container_name: shareit-db-cont
    ports:
      - "6541:5432"
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      - POSTGRES_DB=shareitdb
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
